/*
#########################################################################
##                                                                     ##
##     nextflow.config of repertoire profiler                          ##
##                                                                     ##
##     Institut Pasteur Paris                                          ##
##                                                                     ##
#########################################################################
*/

/*
#########################################################################
##                                                                     ##
##     Parameters that must be set by the user                         ##
##                                                                     ##
#########################################################################
*/


/*
########################
##                    ##
##     Data           ##
##                    ##
########################
*/

env {
    fastq_path = "/mnt/c/Users/gmillot/Documents/Git_projects/biosentinelle/dataset/SRR26617475/" // SRA accession ID (e.g., "SRR26617638"). The workflow will automatically download and extract from SRA. Can also be a local path (directory with fastq files) or a .zip file. Example: fastq_path = "/path/to/fastq/files" or fastq_path = "https://zenodo.org/records/18631337/files/human_IGH.zip".
    ref_path = "/mnt/c/Users/gmillot/Documents/Git_projects/biosentinelle/dataset/genome_references" // single character string indicating the path of the genome reference directory for bowtie2 read alignments. The directory must contain fasta files only. If several references indicated, the fastq files are aligned on each reference (parallelization).
}



/*
######################################
##                                  ##
##     Local / Cluster execution    ##
##                                  ##
######################################
*/

apptainer_local_images = "/mnt/c/Users/gmillot/apptainer" // single character string of the path of the apptainer folder (where all the apptainer images are are pulled and stored for proper nextflow execution). You can indicate an empty folder. In that case, docker images will be pulled from dockerhub, converted into apptainer images and stored into this indicted folder for next executions. Example: apptainer_local_images='/mnt/c/Users/gmillot/apptainer'. Example: apptainer_local_images="$projectDir/apptainer" # do not forget double quotes in that case. See https://confluence.pasteur.fr/pages/viewpage.action?pageId=69304504.
apptainer_cluster_images = "/pasteur/helix/projects/BioIT/gmillot/apptainer" // as for apptainer_local_images but for a cluster usage. It must be a shared folder accessible to all computing nodes. Example: apptainer_local_images='/pasteur/helix/projects/BioIT/gmillot/apptainer'. 
system_exec = 'local' // single character string of the system that runs the workflow. Write 'local' to run on our own computer or any job scheduler managed by nextflow. See the list here: https://www.nextflow.io/docs/latest/executor.html. Example system_exec = 'slurm' (pasteur cluster). Example: system_exec = 'local'. Warning: when using "slurm" other than for the Pasteur cluster, it must be necessary to modify runOptions = '--no-home --bind /pasteur' below. Please, use add_options = '-cwd -l s_vmem=60G' when using sge
cluster_runOptions = "NULL" // single character string of the runOptions parameter of the scheduler. If "NULL", then default values are used, depending on the system_exec setting: (1) if system_exec == 'slurm', then runOptions = '--no-home --bind /pasteur --bind /local --bind /run', (2) if system_exec == 'sge', then runOptions = '--bind /rshare1:/rshare1', (3) if system_exec == 'local', then runOptions = '--no-home -B /run/shm:/run/shm'. Please, write the correct runOptions setting if unsure of your environment, or to overwrite this default setting.
simult_jobs = 50000 // number of max simultaneous jobs. This is to avoid to saturated a cluster if millions of jobs in parallel. Write 0 for all the threads.
slurm_queue = 'common,dedicated' // single character string of the -p option of slurm. Example: slurm_queue = 'common,dedicated'. Example: slurm_queue = 'hubbioit'. Example slurm_queue = 'long,hubbioit' for long processes.
slurm_qos = '--qos=fast' // single character string of the --qos option of slurm. Example: slurm_qos= '--qos=fast'. Example: slurm_qos = '--qos=ultrafast'. Example: slurm_qos = '--qos=hubbioit'
add_options = ' ' // single character string of the additional option of slurm. Example: add_options = '--exclude=maestro-1101,maestro-1034' or add_options = ' ', add_options = '--time=70:00:00' (acceptable time formats include "minutes", "minutes:seconds", "hours:minutes:seconds", "days-hours", "days-hours:minutes" and "days-hours:minutes:seconds"). See https://slurm.schedmd.com/sbatch.html#OPT_time for other options.  Please, use add_options = '-cwd -l s_vmem=60G' when using system_exec = 'sge'.



/*
#########################################
##                                     ##
##     Optional: Alignments            ##
##                                     ##
#########################################
*/




/*
#############################
##                         ##
##     Optional: Other     ##
##                         ##
#############################
*/


out_path_ini = "$projectDir/results" // single character string of where the output files will be saved. Example out_path_ini = '.' for where the main.nf run is executed or out_path_ini = "$projectDir/results" to put the results in a result folder (created if required), $projectDir indicating where the main.nf run is executed. Example: out_path_ini = '/mnt/c/Users/gmillot/Desktop'. Example : out_path_ini="/pasteur/helix/projects/BioIT/gmillot/08002_bourgeron/results". Warning: this does not work: out_path_ini = "/mnt/share/Users/gmillot/Desktop"
result_folder_name = "biosentinelle" // single character string.of the name of the folder where the results files are dorpped


/*
#########################################################################
##                                                                     ##
##     End Parameters that must be set by the user                     ##
##                                                                     ##
#########################################################################
*/




//////// Pre processing

int secs = (new Date().getTime())/1000
out_path ="${out_path_ini}/${result_folder_name}_${secs}"

//////// end Pre processing


/////// variables in the main.nf file only

env{
    template_rmd_path = "./bin/biosentinelle_template.rmd"
}

/////// variables in the main.nf file only


//////// variables used here and also in the main.nf file

env {
    system_exec = "${system_exec}"
    out_path_ini = "${out_path_ini}"
    out_path = "${out_path}"
    slurm_queue = "${slurm_queue}"
    slurm_qos = "${slurm_qos}"
    add_options = "${add_options}"
}

//////// end variables used here and also in the main.nf file


//////// variables used in the main.nf and in the ./conf/checks.nf files


//////// end variables used in the main.nf and in the ./conf/checks.nf files


//////// Scopes

// those are closures. See https://www.nextflow.io/docs/latest/script.html#closures
executor { 
    // name = "slurm" // means "if name of the executor is slurm, then ${simult_jobs}, i.e., max ${simult_jobs} simultaneous jobs". Inactivated because applied to all kinds of executors
    queueSize = "${simult_jobs}" // can only be written here and not below because queueSize is a method of executor{}
}

// create a report folder and print a html report file . If no absolute path, will be where the run is executed
// see https://www.nextflow.io/docs/latest/config.html#config-report
report {
       enabled = true
       file = "${out_path}/reports/report.html" // warning: here double quotes to get the nextflow variable interpretation
}

// txt file with all the processes and info
trace {
    enabled = true
    file = "${out_path}/reports/trace.txt"
}

// html file with all the processes
timeline {
    enabled = true
    file = "${out_path}/reports/timeline.html"
}

// .dot picture of the workflow
dag {
    enabled = true
    file = "${out_path}/reports/nf_dag.png"
}


// define apptainer parameters
apptainer {
    enabled = true
    autoMounts = true // automatically mounts host paths in the executed container
    pullTimeout = '7d'
    if(cluster_runOptions == "NULL"){
        if(system_exec == 'slurm'){
            runOptions = '--no-home --bind /pasteur --bind /local --bind /run' //-B /run/shm:/run/shm has been removed because block the pipeline. Warning: clone_assignment process use python. Thus, -B /run/shm:/run/shm should be required normally
        }
        if(system_exec == 'sge'){
            runOptions = '--no-home --bind /rshare1:/rshare1'
        }
        if(system_exec == 'local'){
            runOptions = '--no-home -B /run/shm:/run/shm' // --no-home prevent apptainer to mount the $HOME path and thus forces apptainer to work with only what is inside the container
        }
    }else{
        runOptions = "${cluster_runOptions}"
    }
    //runOptions = '--home $HOME:/home/$USER --bind /pasteur' // provide any extra command line options supported by the apptainer exec. Here, fait un bind de tout /pasteur dans /pasteur du container. Sinon pas d accès
    if(system_exec == 'local'){
        cacheDir = "${apptainer_local_images}" // "$projectDir/apptainer" can be used but do not forget double quotes.
    }else{
        cacheDir = "${apptainer_cluster_images}" // name of the directory where remote Apptainer images are stored. When rerun, the exec directly uses these without redownloading them. When using a computing cluster it must be a shared folder accessible to all computing nodes
    }
}

//////// end Scopes



//////// directives

// provide the default directives for all the processes in the main.nf pipeline calling this config file
process {
// directives for all the processes
    executor = "${system_exec}"
    // process.shell = ['/bin/bash', '-euo', 'pipefail']
    // beforeScript = 'module load apptainer'
// end directives for all the processes
    if(system_exec == 'slurm'){
        queue = "$slurm_queue"
        clusterOptions = "$slurm_qos $add_options"
        scratch=false
        maxRetries=3
        errorStrategy = {task.exitStatus in 137..143 ? 'retry' : 'terminate' }
    }else if(system_exec != 'local'){
        beforeScript= '''
            module use /usr/local/package/modulefiles
            module load apptainer/1.2.4
        '''
        penv = 'mpi' // penv stands for Parallel Environment (PE). 'mpi' is a common parallel environment name, often used for Message Passing Interface (MPI) jobs. Please, run qconf -spl on the cluster login node to list available parallel environments. Common PEs are smp, mpi, or similar.
        clusterOptions = "$add_options -S /bin/bash"
        maxRetries=3
        errorStrategy = {task.exitStatus in 137..143 ? 'retry' : 'terminate' } // 137 is memory, 143 is time limit
    }else if(system_exec == 'local'){
        maxRetries=0
        errorStrategy='terminate'
    }

    withLabel: bash {
        container = 'gmillot/bash-extended_v4.0:gitlab_v8.0'
        cpus = 1
        memory = '500M'
    }

    withLabel: unzip {
        container='gmillot/ubuntu_v22.04_extended_v1.0:gitlab_v10.2'
        cpus=1
        memory='1G'
    }

    withLabel: bowtie2 {
        container='gmillot/bowtie2_v2.3.4.3_extended_v2.0:gitlab_v8.0'
        cpus=12 // only used when name = "local" in the executor part above
        if(system_exec == 'slurm'){
            memory='16G'
        }else{
            memory='16G'
        }
    }

    withLabel: fastq_dump {
        container='dceoy/fastq-dump'
        errorStrategy='terminate'  // Changed from 'ignore' to catch fastq-dump failures
        cpus=1
    }

    withLabel: multiqc {
        container='ewels/multiqc:1.10.1'
        errorStrategy='ignore'
        cpus=1
    }

    withLabel: samtools {
        container='gmillot/samtools_v1.14:gitlab_v8.0'
        cpus=1
        memory='1G'
    }

    withLabel: bcftools {
        container='gmillot/bcftools_v1.14:gitlab_v8.0'
        cpus=4
        memory='2G'
    }

    withLabel: bedtools {
        container='gmillot/bedtools_v2.30.0:gitlab_v8.0'
        cpus=12
        memory='64G'
    }

    withLabel: python {
        container = 'evolbioinfo/python-evol:v3.7.3condor'
        cpus = 1
        memory='3G'
    }

    withLabel: r_ig_clustering {
        container='gmillot/r_v4.1.2_ig_clustering_v1.3:gitlab_v9.9'
        cpus=1
        memory='3G'
    }

}

//////// end directives


